<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"></html>
<head>
    <meta charset="UTF-8">
    <title>viewer</title>
</head>
<body>
    <form th:action="@{/}" method="post"><!--viewのリクエストマッピングにpostでリクエストを送る-->
        <p>
            <input type="submit" value="スタートページへ戻る">
            <input type="hidden">
        </p>
    </form>
    <form th:action="@{/registdish}" method="post"><!--registdishのリクエストマッピングにpostでリクエストを送るstartじゃなくて/かも-->
        <p>
        <label for="regist">登録したい料理名を入力してください</label>
        <input type="text" name="DishName" id="DishName">
        <br>ジャンル
        <select name="Genre" id="Genre" size="1">
            <option value="japanese">和食</option>
            <option value="chinese">中華</option>
            <option value="western">洋食</option>
        </select>
        <br>レシピ登録<br>
        材料１<input type="text" name="Ingredient1" id="Ingredient1">
        材料２<input type="text" name="Ingredient2" id="Ingredient2">
        材料３<input type="text" name="Ingredient3" id="Ingredient3">
        材料４<input type="text" name="Ingredient4" id="Ingredient4">
        <br>
        <input type="submit" value="登録">
        </p>
    </form>
    <table border="1">
        <!--<td>ID</td>-->
        <td>Name</td>
        <!--<td>Genre</td>-->
        <td>材料①</td>
        <td>材料②</td>
        <td>材料③</td>
        <td>材料④</td>
        <tr th:each="ingredient : ${allIngredients}">
<!--            <td th:text="${ingredient.DishId}"></td>-->
            <td th:text="${ingredient.Dishname}"></td>
<!--            <td th:text="${ingredient.Genre}"></td>-->   
            <td th:text="${ingredient.Ingredient1}"></td>
            <td th:text="${ingredient.Ingredient2}"></td>
            <td th:text="${ingredient.Ingredient3}"></td>
            <td th:text="${ingredient.Ingredient4}"></td>
            <form th:action="@{/editrecipe}" method="post"><!--編集する食材のIDを渡してる-->
                <td><input type="submit" value="編集"></td>
                <input type="hidden" name="EditId" th:value="${ingredient.DishId}">
            </form>
        </tr>
    </table>

</body>
</html>